<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      How much did you drink today?
      
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <!--Put stuff here-->
  <body style="background-color: blue">
    
  </body>
  <img src="IopnicAppBG.png" alt="background image of window and table">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Select how much water you drank
      </ion-label>
    </ion-list-header>
  

  
  </ion-list>

  
  <ion-item>
    <ion-range min="0" max="10" step="1" pin = "true" snaps="true">
      <ion-label slot="start">0 Liters</ion-label>
      <ion-label slot="end">20 Liters</ion-label>
    </ion-range>
  </ion-item>

  <ion-button expand = "full">Input Water</ion-button>

  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      
    </ion-toolbar>
  </ion-header>

  
</ion-content>

