<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      How much did you drink today?
      
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <!--Put stuff here-->
  <body style="background-color: blue">
    
  </body>
  <img src="IopnicAppBG.png" alt="background image of window and table">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Select how much water you drank
      </ion-label>
    </ion-list-header>
  
    <ion-item class="ion-text-wrap">
      <ion-thumbnail slot="start">
        <img src="../assets/img/waterbottle.jpg">
      </ion-thumbnail>
      <ion-label >Liters</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="1l">1 Liter</ion-select-option>
        <ion-select-option value="2l">2 Liters</ion-select-option>
        <ion-select-option value="3l">3 Liters</ion-select-option>
        <ion-select-option value="4l">4 Liters</ion-select-option>
        <ion-select-option value="5l">5 Liters</ion-select-option>
        <ion-select-option value="6l">6 Liters</ion-select-option>
        <ion-select-option value="7l">7 Liters</ion-select-option>
        <ion-select-option value="8l">8 Liters</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <ion-button>Default</ion-button>
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
      
    </ion-toolbar>
  </ion-header>

  
</ion-content>

